label {
    color: #36404a;
}

.form-check-label {
    font-weight: normal;
}

.error-feedback {
    color: red;
    font-weight: normal;
    font-size: 14px;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  color: #7f7d7d;
}

.forgot-password a {
  color: #167bff !important;
  margin: 0;
}